
       <div class="page-header">
        <h4>Анонс ближайшего турнира</h4>
         </div>
         <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Краевой парный турнир среди Взрослых ко «Дню Победы»</h2>
            <p class="lead">С 8 по 9 мая на кортах стадиона им. Ленина состоится краевой парный турнир среди Взрослых, посвященный «Дню Победы»</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/Doubles2016/Doubles2016_1.jpg" alt="Краевой парный турнир среди Взрослых ко «Дню Победы»">
        </div>
      </div>
        <hr class="featurette-divider">
         <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Кубок Хабаровского края в парном разряде среди взрослых</h2>
            <p class="lead">С 16 по 17 апреля на кортах стадиона им. Ленина состоится Кубок Хабаровского края в парном разряде среди взрослых.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/23rd2016/20160223_162428.jpg" alt="Кубок Хабаровского края в парном разряде среди взрослых">
        </div>
      </div>
        <hr class="featurette-divider">
         <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Первенство ДФО среди юношей и девушек</h2>
            <p class="lead">С 19 по 26 марта на кортах стадиона им. Ленина состоится первенство ДФО в возрастных группах 13, 15, 17 лет.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/WinterTournament/IMG_7534.jpg" alt="Первенство ДФО">
        </div>
      </div>
        <hr class="featurette-divider">
         <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Краевой парный турнир среди взрослых, посвященный «Международному женскому Дню»</h2>
            <p class="lead">7 марта на теннисных кортах стадиона им. Ленина состоится женский парный турнир.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/march8th.jpg" alt="8 марта">
        </div>
      </div>
       <hr class="featurette-divider">
        <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Краевой парный турнир среди взрослых, посвященный Дню Защитника Отечества</h2>
            <p class="lead">23 февраля на теннисных кортах стадиона им. Ленина состоится парный турнир с призовым фондом 30 000 рублей. Ограничение на суммарный возраст участников пары 70+</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/news1.jpg" alt="23 февраля">
        </div>
      </div>
      <hr class="featurette-divider">
       <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Открытое Зимнее первенство Хабаровского края</h2>
            <p class="lead">С 23 по 30 января на теннисных кортах стадиона им. Ленина состоится ежегодное Открытое Зимнее первенство Хабаровского края в возрастных группах до 11, 15 и 19 лет. Подать заявку на турнир можно через сайт <a href="http://www.tennis-russia.ru/rtt">tennis-russia.ru</a> </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/competition1.jpg" alt="Открытое Зимнее первенство Хабаровского края">
        </div>
      </div>
       
       <hr class="featurette-divider">
       <p>Формы заявок на турниры</p>
       <a target="_blank" href="docs/singles.xlsx">Заявка одиночная</a>
       <a target="_blank" href="docs/doubles.xlsx">Заявка парная</a>
       <div class="page-header">
        <h4>Календарь турниров на 2016 год</h4>
         </div>
         <div class="table-responsive">
       <table class="table table-bordered table-striped" style="margin-bottom: 20px; font-weight: 400;">
           <tr><th>Даты проведения</th><th>Название турнира</th><th>Возрастная группа</th></tr>
           <tr><td>23.01-30.01.2016</td><td>Открытое Зимнее первенство Хабаровского края</td><td>До 11,15,19 лет</td></tr>
           <tr><td>23.02.2016</td><td>Краевой парный турнир среди взрослых, посвященный «Дню Защитника Отечества»</td><td>Взрослые</td></tr>
           <tr><td>07.03.2016</td><td>Краевой парный турнир среди Взрослых, посвященный «Международному женскому Дню»</td><td>Взрослые</td></tr>
           <tr><td>19.03-26.03.2016</td><td>Первенство ДФО среди юношей и девушек</td><td>До 13,15,17 лет</td></tr>
           <tr><td>16.04-17.04.2016</td><td>Кубок Хабаровского края в парном разряде среди взрослых</td><td>Взрослые</td></tr>
           <tr><td>08.05-09.05.2016</td><td>Краевой парный турнир среди Взрослых к «Дню Победы»</td><td>Взрослые</td></tr>
           <tr><td>14.06.2016</td><td>Краевой парный турнир в смешанном разряде, посвященный международному «Дню семьи»</td><td>Взрослые, Дети</td></tr>
           <tr><td>17.06-19.06.2016</td><td>Первенство Хабаровского края среди ветеранов</td><td>Взрослые</td></tr>
           <tr><td>20.08-27.08.2016</td><td>Открытое летнее первенство Хабаровского края среди юношей и девушек</td><td>До 13,15,19 лет</td></tr>
           <tr><td>03.09-04.09.2016</td><td>Краевой парный турнир памяти Дудина Я.В.</td><td>Взрослые</td></tr>
           <tr><td>08.09-11.09.2016</td><td>Открытый Чемпионат Хабаровского края среди взрослых</td><td>Взрослые</td></tr>
           <tr><td>23.10-29.10.2016</td><td>Кубок Губернатора Хабаровского края</td><td>До 11,15,19 лет</td></tr>
           <tr><td>24.12-25.12.2016</td><td>Краевой рождественский парный турнир</td><td>Взрослые</td></tr>
       </table>
       </div>
          
          <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form role="form">
                <div class="form-group">
               <INPUT type="text" class="form-control" name="name" size=30 placeholder="ФИО">
                </div>
                <div class="form-group">
               <INPUT type="text" class="form-control" name="email" size=30 placeholder="Дата рождения">
                </div>
                <div class="form-group">
               <INPUT type="text" class="form-control" name="subject" size=30 placeholder="Номер телефона">
                </div>
                <div class="form-group">
               <textarea class="form-control" rows="5" placeholder="Дополнительная информация"></textarea>
                </div>
                   <button class="btn btn-primary" type="button">
                       Отправить заявку
                   </button>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>