 <h2>Наш адрес</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#summer">Летний сезон</a></li>
    <li><a data-toggle="tab" href="#winter">Зимний сезон</a></li>
  </ul>
<div class="tab-content">
    <div id="summer" class="tab-pane fade in active">
      <h3>г. Хабаровск, ул. Карла Маркса 62. Территория парка Динамо</h3>
        <p>email: info@tennisdv.ru</p>
        <p>Телефон: +7 914 541 35 62</p>
        <iframe src="templates/map1.html" style="border:none;width:100%;height:500px;"></iframe>
    </div>
    <div id="winter" class="tab-pane fade">
      <h3>г. Хабаровск, ул. Cоветская, 1А. Универсальный краевой спортивный комплекс</h3>
        <p>email: info@tennisdv.ru</p>
        <p>Телефон: +7 914 541 35 62</p>
        <iframe src="templates/map2.html" style="border:none;width:100%;height:500px;"></iframe>
    </div>
  </div>


