<p>Формы заявок на турниры</p>
       <a target="_blank" href="docs/singles.xlsx">Заявка одиночная</a>
       <a target="_blank" href="docs/doubles.xlsx">Заявка парная</a>
       <div class="page-header">
        <h4>Календарь турниров на 2016 год</h4>
         </div>
         <div class="table-responsive">
       <table class="table table-bordered table-striped" style="margin-bottom: 20px; font-weight: 400;">
           <tr><th>Даты проведения</th><th>Название турнира</th><th>Возрастная группа</th></tr>
           <tr><td>23.01-30.01.2016</td><td>Открытое Зимнее первенство Хабаровского края</td><td>До 11,15,19 лет</td></tr>
           <tr><td>23.02.2016</td><td>Краевой парный турнир среди взрослых, посвященный «Дню Защитника Отечества»</td><td>Взрослые</td></tr>
           <tr><td>07.03.2016</td><td>Краевой парный турнир среди Взрослых, посвященный «Международному женскому Дню»</td><td>Взрослые</td></tr>
           <tr><td>19.03-26.03.2016</td><td>Первенство ДФО среди юношей и девушек</td><td>До 13,15,17 лет</td></tr>
           <tr><td>16.04-17.04.2016</td><td>Кубок Хабаровского края в парном разряде среди взрослых</td><td>Взрослые</td></tr>
           <tr><td>08.05-09.05.2016</td><td>Краевой парный турнир среди Взрослых к «Дню Победы»</td><td>Взрослые</td></tr>
           <tr><td>14.06.2016</td><td>Краевой парный турнир в смешанном разряде, посвященный международному «Дню семьи»</td><td>Взрослые, Дети</td></tr>
           <tr><td>17.06-19.06.2016</td><td>Первенство Хабаровского края среди ветеранов</td><td>Взрослые</td></tr>
           <tr><td>20.08-27.08.2016</td><td>Открытое летнее первенство Хабаровского края среди юношей и девушек</td><td>До 13,15,19 лет</td></tr>
           <tr><td>03.09-04.09.2016</td><td>Краевой парный турнир памяти Дудина Я.В.</td><td>Взрослые</td></tr>
           <tr><td>08.09-11.09.2016</td><td>Открытый Чемпионат Хабаровского края среди взрослых</td><td>Взрослые</td></tr>
           <tr><td>23.10-29.10.2016</td><td>Кубок Губернатора Хабаровского края</td><td>До 11,15,19 лет</td></tr>
           <tr><td>24.12-25.12.2016</td><td>Краевой рождественский парный турнир</td><td>Взрослые</td></tr>
       </table>
       </div>
<div id="one" class="fade-in row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Информация о кортах </h2>
          <p class="lead">Наши теннисные корты открыты для любителей спорта всех возрастов в любое время года. Зимой корты располагаются в Ледовом дворце спорта на стадионе им. Ленина. В летний период мы ждем Вас на территории парка Динамо по адресу Карла Маркса 62.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/landing1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="two" class="fade-in row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/landing2.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Запись в секцию </h2>
          <p class="lead">Мы принимаем в секцию детей от 6 лет любого уровня. Наши опытные тренеры уделяют особое внимание технике игры, а также физической подготовки. Более подробную информацию можно получить в разделе Запись в секцию. </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="three" class="fade-in row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Аренда кортов </h2>
          <p class="lead">Для наших гостей предоставляется услуга аренды теннисных кортов. Информацию о наличии свободных часов для аренды можно узнать по телефону 42 00 66 в летнее время и 57 47 11 в зимний период.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/landing3.jpg" alt="Generic placeholder image">
        </div>
      </div>