<p>Формы заявок на турниры</p>
       <a target="_blank" href="docs/singles.xlsx">Заявка одиночная</a>
       <a target="_blank" href="docs/doubles.xlsx">Заявка парная</a>
       <div class="page-header">
        <h4>Предварительный календарь турниров на 2022 год</h4>
         </div>
        <div class="table-responsive">
       <table class="table table-bordered table-striped" style="margin-bottom: 20px; font-weight: 400;">
           <tr><th>Даты проведения</th><th>Название турнира</th><th>Возрастная группа</th></tr>
           <tr><td>07.03.2022</td><td>Краевой парный турнир среди взрослых, посвященный «Дню Защитника Отечества» и «Международному женскому Дню»</td><td>Взрослые</td></tr>
           <tr><td>01.03-05.03.2022/22.03-26.03.2022/05.04-09.04.2022/19.04-23.04.2022</td><td>Первенство ДФО среди юношей и девушек</td><td>До 13, 17, 15,19 лет</td></tr>
           <tr><td>09.05.2022</td><td>Краевой парный турнир среди взрослых к «Дню Победы»</td><td>Взрослые</td></tr>
           <tr><td>14.05.2022</td><td>Краевой парный турнир в смешанном разряде, посвященный международному «Дню семьи»</td><td>Взрослые, Дети</td></tr>
           <tr><td>07.06-13.06.2022</td><td>Открытое первенство Хабаровского края среди юношей и девушек</td><td>До 13, 17 лет</td></tr>
           <tr><td>17.06-19.06.2022</td><td>Первенство Хабаровского края среди ветеранов</td><td>Взрослые</td></tr>
           <tr><td>16.08-21.08.2022</td><td>Открытое первенство Хабаровского края среди юношей и девушек</td><td>9-10 лет, до 15, 19 лет</td></tr>
           <tr><td>03.09.2022</td><td>Краевой парный турнир памяти Дудина Я.В.</td><td>Взрослые</td></tr>
           <tr><td>10.09-13.09.2022</td><td>Открытый Чемпионат Хабаровского края среди взрослых</td><td>Взрослые</td></tr>
           <tr><td>25.10-29.10.2022</td><td>Кубок губернатора Хабаровского края</td><td>9-10 лет, до 15, 19 лет</td></tr>
       </table>
       </div>
<div id="one" class="fade-in row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Информация о кортах </h2>
          <p class="lead">Наши теннисные корты открыты для любителей спорта всех возрастов в любое время года. Зимой корты располагаются в ТЦ "Стрелка" в теннисном клубе "Smash Club" по адресу ул. Карла Маркса, д.202. В летний период мы ждем Вас на территории парка Динамо по адресу ул. Карла Маркса, д.62.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/landing1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="two" class="fade-in row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/landing2.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Запись в секцию </h2>
          <p class="lead">Мы принимаем в секцию детей от 6 лет любого уровня. Наши опытные тренеры уделяют особое внимание технике игры, а также физической подготовке. Более подробную информацию можно получить в разделе "Запись в секцию". </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="three" class="fade-in row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Аренда кортов </h2>
          <p class="lead">Для наших гостей предоставляется услуга аренды теннисных кортов и в летнее и в зимнее время.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/landing3.jpg" alt="Generic placeholder image">
        </div>
      </div>