<div class="row" style="font-weight:400 !important; padding-left:15px;">
     <h2>Кубок Хабаровского края в парном разряде среди взрослых</h2>
     <a target="_blank" href="http://www.dvnovosti.ru/khab/2016/04/18/49414/">Статья на dvnovosti.ru</a><br>
     <div class="table-responsive">
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">ФИО</th></tr>
           <tr class="success"><td>1 место</td><td>Титов / Семенов</td></tr>
           <tr class="active"><td>2 место</td><td>Похило / Зубков</td></tr>
           <tr class="warning"><td>3 место</td><td>Кудашкин / Павлючик</td></tr>
       </table>
       </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/Doubles2016/Doubles2016_1.jpg')" src="images/Doubles2016/Doubles2016_1.jpg" alt="Кубок Хабаровского края в парном разряде среди взрослых">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/Doubles2016/Doubles2016_2.jpg')" src="images/Doubles2016/Doubles2016_2.jpg" alt="Кубок Хабаровского края в парном разряде среди взрослых">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/Doubles2016/Doubles2016_3.jpg')" src="images/Doubles2016/Doubles2016_3.jpg" alt="Кубок Хабаровского края в парном разряде среди взрослых">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/Doubles2016/Doubles2016_4.jpg')" src="images/Doubles2016/Doubles2016_4.jpg" alt="Кубок Хабаровского края в парном разряде среди взрослых">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
     <h2>Результаты Первенства ДФО среди юношей и девушек</h2>
     <a target="_blank" href="docs/DFO2016.xlsx">Результаты турнира</a><br>
     <a target="_blank" href="https://drive.google.com/folderview?id=0B98PQQ-XbiRwZ09pR1JLRFB1aEE&usp=sharing">Фотографии</a>
     <h4>Возрастная группа 13 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Гурьева Анастасия</td><td>Самара</td></tr>
           <tr class="active"><td>2 место</td><td>Стрижкова Екатерина</td><td>Новосибирск</td></tr>
           <tr class="warning"><td>3 место</td><td>Белкина Маргарита</td><td>Комсомольск-на-Амуре</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Назаров Арсений</td><td>Иркутск</td></tr>
           <tr class="active"><td>2 место</td><td>Серажетдинов Руслан</td><td>Москва</td></tr>
           <tr class="warning"><td>3 место</td><td>Никитенко Никита</td><td>Хабаровск</td></tr>
       </table>
       </div>
       <h4>Возрастная группа до 15 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Саханова Дари</td><td>Москва</td></tr>
           <tr class="active"><td>2 место</td><td>Устюжанина Алина</td><td>Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Линникова Ангелина</td><td>Иркутск</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Тимченко Максим</td><td>Владивосток</td></tr>
           <tr class="active"><td>2 место</td><td>Сухомлинов Максим</td><td>Уссурийск</td></tr>
           <tr class="warning"><td>3 место</td><td>Архипов Александр </td><td>Хабаровск</td></tr>
       </table>
       </div>
       <h4>Возрастная группа до 17 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Рыкунова Луиза</td><td>Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Гнездилова Ангелина</td><td>Курск</td></tr>
           <tr class="warning"><td>3 место</td><td>Пинегина Алина</td><td>Хабаровск</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Кожевников Игорь</td><td>Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Прокудин Артем</td><td>Кемерово</td></tr>
           <tr class="warning"><td>3 место</td><td>Лавыгин Михаил</td><td>Иркутск</td></tr>
       </table>
       </div>
       <h4>Смешанный разряд</h4>
     <div class="table-responsive">
         <p>До 13 лет</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Лавыгин Максим / Стрижкова Екатерина </td><td>Иркутск, Новосибирск</td></tr>
           <tr class="active"><td>2 место</td><td>Серажетдинов Руслан/ Никитенко Софья  </td><td>Москва, Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Король Роман/ Каримова Ева</td><td>Комсомольск-на-Амуре, Хабаровск</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>До 15 лет</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Тимченко Максим / Гнездилова Ангелина </td><td>Владивосток, Курск</td></tr>
           <tr class="active"><td>2 место</td><td>Архипов Александр / Березовская Анна </td><td>Хабаровск, Владивосток</td></tr>
           <tr class="warning"><td>3 место</td><td>Федоренко Илья / Саханова Дари </td><td>Хабаровск, Москва</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>До 17 лет</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Попова Кристина / Прокудин Артем</td><td>Комсомольск-на-Амуре, Кемерово</td></tr>
           <tr class="active"><td>2 место</td><td>Заднепровская Дарья / Лавыгин Михаил</td><td>Владивосток, Иркутск</td></tr>
           <tr class="warning"><td>3 место</td><td>Кожевников Игорь / Пинегина Алина</td><td>Хабаровск, Хабаровск</td></tr>
       </table>
       </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/DFO2016/20160325_144608.jpg')" src="images/DFO2016/20160325_144608.jpg" alt="Первенство ДФО среди юношей и девушек">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/DFO2016/20160325_144727.jpg')" src="images/DFO2016/20160325_144727.jpg" alt="Первенство ДФО среди юношей и девушек">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/DFO2016/20160325_144729.jpg')" src="images/DFO2016/20160325_144729.jpg" alt="Первенство ДФО среди юношей и девушек">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/DFO2016/20160325_145427.jpg')" src="images/DFO2016/20160325_145427.jpg" alt="Первенство ДФО среди юношей и девушек">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/DFO2016/20160325_144927.jpg')" src="images/DFO2016/20160325_144927.jpg" alt="Первенство ДФО среди юношей и девушек">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/DFO2016/20160325_145109.jpg')" src="images/DFO2016/20160325_145109.jpg" alt="Первенство ДФО среди юношей и девушек">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/DFO2016/20160325_145146.jpg')" src="images/DFO2016/20160325_145146.jpg" alt="Первенство ДФО среди юношей и девушек">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/DFO2016/20160325_145323.jpg')" src="images/DFO2016/20160325_145323.jpg" alt="Первенство ДФО среди юношей и девушек">
    </a>
  </div>
</div>  
<div class="row" style="font-weight:400 !important; padding-left:15px;">
     <h2>Краевой парный турнир среди взрослых, посвященный «Международному женскому Дню»</h2>
     <a target="_blank" href="docs/March8th.xlsx">Результаты турнира</a>
     <div class="table-responsive">
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">ФИО</th></tr>
           <tr class="success"><td>1 место</td><td>Мешкова / Беляева</td></tr>
           <tr class="active"><td>2 место</td><td>Булах / Викулина</td></tr>
           <tr class="warning"><td>3 место</td><td>Лазарева / Гончарук</td></tr>
       </table>
       </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/8th2016/S1360001.jpg')" src="images/8th2016/S1360001.jpg" alt="Краевой парный турнир среди взрослых, посвященный «Международному женскому Дню»">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/8th2016/S1360004.jpg')" src="images/8th2016/S1360004.jpg" alt="Краевой парный турнир среди взрослых, посвященный «Международному женскому Дню»">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/8th2016/S1360007.jpg')" src="images/8th2016/S1360007.jpg" alt="Краевой парный турнир среди взрослых, посвященный «Международному женскому Дню»">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/8th2016/S1360026.jpg')" src="images/8th2016/S1360026.jpg" alt="Краевой парный турнир среди взрослых, посвященный «Международному женскому Дню»">
    </a>
  </div>
</div> 
<div class="row" style="font-weight:400 !important; padding-left:15px;">
     <h2>Краевой парный турнир среди взрослых, посвященный Дню Защитника Отечества</h2>
     <p>Выражаем благодарность Перову Григорию Борисовичу, который выделил призовый фонд для проведения турнира в размере 30 000 рублей в связи с празднованием своего 70-летия. Поздравляем!</p>
     <a target="_blank" href="docs/February23rd.xlsx">Результаты турнира</a>
     <div class="table-responsive">
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">ФИО</th></tr>
           <tr class="success"><td>1 место</td><td>Титов / Семенов</td></tr>
           <tr class="active"><td>2 место</td><td>Павлючик / Сержантов</td></tr>
           <tr class="warning"><td>3 место</td><td>Кудашкин / Салихов</td></tr>
       </table>
       </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/23rd2016/20160223_122524.jpg')" src="images/23rd2016/20160223_122524.jpg" alt="Краевой парный турнир среди взрослых, посвященный Дню Защитника Отечества">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/23rd2016/20160223_122535.jpg')" src="images/23rd2016/20160223_122535.jpg" alt="Краевой парный турнир среди взрослых, посвященный Дню Защитника Отечества">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/23rd2016/20160223_122616.jpg')" src="images/23rd2016/20160223_122616.jpg" alt="Краевой парный турнир среди взрослых, посвященный Дню Защитника Отечества">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/23rd2016/20160223_162428.jpg')" src="images/23rd2016/20160223_162428.jpg" alt="Краевой парный турнир среди взрослых, посвященный Дню Защитника Отечества">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
 <h2 style="padding-left:15px;">Результаты Зимнего первенство Хабаровского края</h2>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7494.jpg')" src="images/WinterTournament/IMG_7494.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7495.jpg')" src="images/WinterTournament/IMG_7495.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7496.jpg')" src="images/WinterTournament/IMG_7496.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7515.jpg')" src="images/WinterTournament/IMG_7515.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7503.jpg')" src="images/WinterTournament/IMG_7503.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7507.jpg')" src="images/WinterTournament/IMG_7507.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7508.jpg')" src="images/WinterTournament/IMG_7508.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7511.jpg')" src="images/WinterTournament/IMG_7511.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7518.jpg')" src="images/WinterTournament/IMG_7518.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7519.jpg')" src="images/WinterTournament/IMG_7519.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7521.jpg')" src="images/WinterTournament/IMG_7521.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7525.jpg')" src="images/WinterTournament/IMG_7525.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7530.jpg')" src="images/WinterTournament/IMG_7530.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7534.jpg')" src="images/WinterTournament/IMG_7534.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7540.jpg')" src="images/WinterTournament/IMG_7540.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7541.jpg')" src="images/WinterTournament/IMG_7541.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7546.jpg')" src="images/WinterTournament/IMG_7546.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7553.jpg')" src="images/WinterTournament/IMG_7553.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7558.jpg')" src="images/WinterTournament/IMG_7558.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7564.jpg')" src="images/WinterTournament/IMG_7564.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
 <div class="row" style="font-weight:400 !important; padding-left:15px;">
     <h4>Возрастная группа 9-10 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Бородулина Амелия</td><td>Южно-Сахалинск</td></tr>
           <tr class="active"><td>2 место</td><td>Дьяченко Варвара </td><td>Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Власова Алиса</td><td>Комсомольск-на-Амуре</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Емельянов Платон</td><td>Находка</td></tr>
           <tr class="active"><td>2 место</td><td>Филонов Тимофей</td><td>Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Бузаев Владимир</td><td>Хабаровск</td></tr>
       </table>
       </div>
       <h4>Возрастная группа до 15 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Валитова Арина</td><td>Мытищи</td></tr>
           <tr class="active"><td>2 место</td><td>Гнездилова Ангелина</td><td>Курск</td></tr>
           <tr class="warning"><td>3 место</td><td>Попова Кристина</td><td>Комсомольск-на-Амуре</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Архипов Александр</td><td>Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Сухомлинов Максим</td><td>Уссурийск</td></tr>
           <tr class="warning"><td>3 место</td><td>Никитенко Никита</td><td>Хабаровск</td></tr>
       </table>
       </div>
       <h4>Возрастная группа до 19 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Беляева Анастасия</td><td>Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Иванова Дарья</td><td>Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Хмелевская Кристина</td><td>Владивосток</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Кудашкин Андрей</td><td>Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Требисов Алексей</td><td>Владивосток</td></tr>
           <tr class="warning"><td>3 место</td><td>Тимченко Максим</td><td>Владивосток</td></tr>
       </table>
       </div>
       <h4>Смешанный разряд</h4>
     <div class="table-responsive">
         <p>До 15 лет</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Архипов Александр / Устюжанина Алина</td><td>Хабаровск / Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Гнездилова Ангелина / Тимченко Максим </td><td>Курск / Владивосток</td></tr>
           <tr class="warning"><td>3 место</td><td>Сухомлинов Максим / Хардина Екатерина</td><td>Уссурийск / Владивосток</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>До 19 лет</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Требисов Алексей / Хмелевская Кристина</td><td>Владивосток / Владивосток</td></tr>
           <tr class="active"><td>2 место</td><td>Глущенко Денис /Беляева Анастасия</td><td>Хабаровск / Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Кожевников Игорь / Шиянова Александра </td><td>Хабаровск / Хабаровск</td></tr>
       </table>
       </div>
</div>
         <div class="row" style="font-weight:400;">
         <div class="col-md-7">
          <h2 class="featurette-heading">Краевой рождественский парный турнир</h2>
            <p class="lead">26 декабря на кортах стадиона им. Ленина состоялся Краевой рождественский парный турнир среди взрослых.</a> </p>
        </div>
        <div class="col-md-5">
         <a href="" target="_blank">
          <img onclick="window.open('images/news1.jpg')" class="featurette-image img-responsive" src="images/news1.jpg" alt="Generic placeholder image">
            </a>
        </div>
</div>