 <div class="col-md-7">
          <h2 class="featurette-heading">Краевой рождественский парный турнир</h2>
            <p class="lead">26 декабря на кортах стадиона им. Ленина состоялся Краевой рождественский парный турнир среди взрослых.</a> </p>
        </div>
        <div class="col-md-5">
         <a href="" target="_blank">
          <img onclick="window.open('images/news1.jpg')" class="featurette-image img-responsive" src="images/news1.jpg" alt="Generic placeholder image">
            </a>
        </div>
      </div>