<div class="row" style="font-weight:400 !important; padding-left:15px;">
 <h2 style="padding-left:15px;">Результаты Зимнего первенство Хабаровского края</h2>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7494.jpg')" src="images/WinterTournament/IMG_7494.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7495.jpg')" src="images/WinterTournament/IMG_7495.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7496.jpg')" src="images/WinterTournament/IMG_7496.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7515.jpg')" src="images/WinterTournament/IMG_7515.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7503.jpg')" src="images/WinterTournament/IMG_7503.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7507.jpg')" src="images/WinterTournament/IMG_7507.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7508.jpg')" src="images/WinterTournament/IMG_7508.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7511.jpg')" src="images/WinterTournament/IMG_7511.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7518.jpg')" src="images/WinterTournament/IMG_7518.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7519.jpg')" src="images/WinterTournament/IMG_7519.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7521.jpg')" src="images/WinterTournament/IMG_7521.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7525.jpg')" src="images/WinterTournament/IMG_7525.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7530.jpg')" src="images/WinterTournament/IMG_7530.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7534.jpg')" src="images/WinterTournament/IMG_7534.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7540.jpg')" src="images/WinterTournament/IMG_7540.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7541.jpg')" src="images/WinterTournament/IMG_7541.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
<div class="row" style="font-weight:400 !important; padding-left:15px;">
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7546.jpg')" src="images/WinterTournament/IMG_7546.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7553.jpg')" src="images/WinterTournament/IMG_7553.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7558.jpg')" src="images/WinterTournament/IMG_7558.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
  <div class="col-xs-3 col-md-3">
    <a href="" target="_blank" class="thumbnail">
      <img onclick="window.open('images/WinterTournament/IMG_7564.jpg')" src="images/WinterTournament/IMG_7564.jpg" alt="Зимнее первенство Хабаровского края">
    </a>
  </div>
</div>
 <div class="row" style="font-weight:400 !important; padding-left:15px;">
     <h4>Возрастная группа 9-10 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Бородулина Амелия</td><td>Южно-Сахалинск</td></tr>
           <tr class="active"><td>2 место</td><td>Дьяченко Варвара </td><td>Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Власова Алиса</td><td>Комсомольск-на-Амуре</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Емельянов Платон</td><td>Находка</td></tr>
           <tr class="active"><td>2 место</td><td>Филонов Тимофей</td><td>Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Бузаев Владимир</td><td>Хабаровск</td></tr>
       </table>
       </div>
       <h4>Возрастная группа до 15 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Валитова Арина</td><td>Мытищи</td></tr>
           <tr class="active"><td>2 место</td><td>Гнездилова Ангелина</td><td>Курск</td></tr>
           <tr class="warning"><td>3 место</td><td>Попова Кристина</td><td>Комсомольск-на-Амуре</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Архипов Александр</td><td>Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Сухомлинов Максим</td><td>Уссурийск</td></tr>
           <tr class="warning"><td>3 место</td><td>Никитенко Никита</td><td>Хабаровск</td></tr>
       </table>
       </div>
       <h4>Возрастная группа до 19 лет</h4>
     <div class="table-responsive">
         <p>Девушки</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Беляева Анастасия</td><td>Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Иванова Дарья</td><td>Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Хмелевская Кристина</td><td>Владивосток</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>Юноши</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Кудашкин Андрей</td><td>Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Требисов Алексей</td><td>Владивосток</td></tr>
           <tr class="warning"><td>3 место</td><td>Тимченко Максим</td><td>Владивосток</td></tr>
       </table>
       </div>
       <h4>Смешанный разряд</h4>
     <div class="table-responsive">
         <p>До 15 лет</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Архипов Александр / Устюжанина Алина</td><td>Хабаровск / Хабаровск</td></tr>
           <tr class="active"><td>2 место</td><td>Гнездилова Ангелина / Тимченко Максим </td><td>Курск / Владивосток</td></tr>
           <tr class="warning"><td>3 место</td><td>Сухомлинов Максим / Хардина Екатерина</td><td>Уссурийск / Владивосток</td></tr>
       </table>
       </div>
       <div class="table-responsive">
         <p>До 19 лет</p>
       <table class="table">
           <tr><th class="col-xs-2">Результат</th><th class="col-xs-5">Имя</th><th class="col-xs-5">Город</th></tr>
           <tr class="success"><td>1 место</td><td>Требисов Алексей / Хмелевская Кристина</td><td>Владивосток / Владивосток</td></tr>
           <tr class="active"><td>2 место</td><td>Глущенко Денис /Беляева Анастасия</td><td>Хабаровск / Хабаровск</td></tr>
           <tr class="warning"><td>3 место</td><td>Кожевников Игорь / Шиянова Александра </td><td>Хабаровск / Хабаровск</td></tr>
       </table>
       </div>
</div>
         <div class="row" style="font-weight:400;">
         <div class="col-md-7">
          <h2 class="featurette-heading">Краевой рождественский парный турнир</h2>
            <p class="lead">26 декабря на кортах стадиона им. Ленина состоялся Краевой рождественский парный турнир среди взрослых.</a> </p>
        </div>
        <div class="col-md-5">
         <a href="" target="_blank">
          <img onclick="window.open('images/news1.jpg')" class="featurette-image img-responsive" src="images/news1.jpg" alt="Generic placeholder image">
            </a>
        </div>
</div>